{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>
    {% for listing in listings %}
        <div class = "listing">
            <img alt = "No image" href = "{{ listing.image }}">
            <a href = "{% url 'listing' listing %}">
                <div>
                    <h3> {{ listing.title }} </h3>
                    <b> Price: </b> &#8377; {{ listing.opening }}
                    <code>
                        Created {{ months[listing.date_created.month] }} {{ listing.date_created.day }}, {{ listing.date_created.year }}, {{ listing.date_created.time }}
                    </code>
                </div>
            </a>
        </div>
    {% empty %}
        Currently there are no active listings...
    {% endfor %}
{% endblock %}